$color-primary-font: Black;
$color-secondary-font: white;
$color-active-nav: #985e5b;
$color-header: #985e5b;
$color-shadow-background: #1e263385;
$color-border: #ebebeb;

@mixin tablet-small {
  @media screen and (min-width: 550px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}
