@import '../state/style/variables';

.Article2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 5px;
  @include desktop {
    flex-direction: row;
  }
  & > figure {
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    @include tablet-small {
      width: 500px;
    }
    @include desktop {
      margin: 0 50px;
    }
    & > img:first-child {
      align-self: flex-end;
      display: block;
      width: 90%;
    }
    & > img:last-child {
      align-self: flex-start;
      margin: -50px 0 0 0;
      display: block;
      width: 90%;
    }
  }
  & > article {
    margin: 0 auto;
    width: auto;
    max-width: 500px;
    padding: 20px 0px;
    @include desktop {
      margin: 0 50px;
    }
    & > h2 {
      text-align: end;
      margin: 20px 0;
    }
    & > span {
      color: $color-header;
      letter-spacing: 3px;
      font-size: 1.2em;
    }
    & > p {
      margin: 20px 0;
      @include desktop {
        margin: 20px 0;
        width: 90%;
      }
    }
    & > a {
      display: block;
      font-size: 2.5em;
      letter-spacing: 3px;
      padding: 20px 0 0 0;
      color: $color-primary-font;
    }
  }
}
