@import '../../../state/style/variables';

.ShopItem {
  //   width: 370px;
  //   height: 450px;
  font-size: 1.4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  &__image {
    width: 300px;
    @include tablet-small {
      width: auto;
    }
  }
  &__title {
    padding: 20px;
    font-weight: bold;
  }

  &__cost {
    line-height: 1.4em;
  }
}

.ShopItem__linkWrapper {
  color: $color-primary-font;
}
