@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap&subset=latin-ext" rel="stylesheet"');
@import './state/style/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}

img {
  width: auto;
  height: auto;
}
h1 {
  font-size: 3.1em;
  font-weight: 400;
  letter-spacing: 3px;
}
h2 {
  font-size: 3.8em;
  font-weight: 400;
  letter-spacing: 3px;
}
h3 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 3px;
}

h4 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 3px;
}
h5 {
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 3px;
}
h6 {
  font-size: 1.4em;
}
p {
  font-size: 1.2em;
  letter-spacing: 1px;
  line-height: 3em;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3.8em;
  }
  h3 {
    font-size: 2em;
  }

  h4 {
    font-size: 2.5em;
  }
}

.activeLink {
  & > ol,
  li {
    color: $color-active-nav !important;
  }
}

.button {
  font-size: 1.2em;
  background-color: $color-btn;
  color: $color-secondary-font;
  width: 180px;
  height: 50px;
  border: none;
  &:hover {
    opacity: 0.9;
  }
}
