/* @font-face {
  font-family: 'Axia';
  src: url('./fonts/Axis.otf') format("opentype");
} */

/* body {
  margin: 0;
  font-family: -apple-system, BolnkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antiaolased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */